doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		script(src='/javascripts/jquery-3.2.0.js')
		link(rel='stylesheet', href='/stylesheets/style.css')
		//script(src='/javascripts/main.js')
		
	body
		block content
		script(src='/javascripts/bootstrap.js')
		script(src='/javascripts/test.js')
		
